/* .card {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 4px 8px black;
    transition: 2s;
}

img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.desc {
    padding: 0 2px 0 2px;
}

.card:hover {
     box-shadow: 2px 4px 16px goldenrod;
} */

/* div {
    height: 100px;
    width: 100px;
    background-color: goldenrod;
    text-align: center;
    border: 3px solid black;
    margin: 20px;
    display: inline-block;
}

#static {
    background-color: blue;
    position: static;
    top: 100px;
    left: 100px;
}

#relative {
     background-color: blue;
    position: relative;
    top: 100px;
    left: 100px;
}

#absolute {
      background-color: blue;
    position: absolute;
    top: 100px;
    left: 100px;
}

#fixed {
        background-color: blue;
    position: fixed;
    top: 100px;
    left: 100px;
} */

/* .face {
    width: 400px;
    height: 400px;
    background-color: #ffa511;
    border-radius: 50%;
}

.mouth {
    width: 200px;
    height: 75px;
    background-color: brown;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    left: 100px;
}

.left-eye,.right-eye {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 100px;
}

.right-eye {
    left: 250px;
} */

/* #container {
    height: 500px;
    width: 80%;
    background-color: lightblue;
    margin: 10px auto;
    border: 2px solid black;
}

h1 {
    text-align: center;
} */

/* #container {
    width: 600px;
    height: 300px;
    background-color: azure;
}

.item {
    width: 100px;
    height: 100px;
    background-color: green;
    border: 2px solid black;
} */

/* Css minor project */
* {
    margin: 0;
    padding: 0;
  font-family: "Poppins", sans-serif;
}

.main_box {
    background: url(photo.jpg);
    height: 100vh;
    background-size: cover;
}

.btn_one i {
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
     transition: all 0.3s linear;
}

.sidebar_menu {
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition: all 0.3s linear;
}

.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    line-height: 60px;
     box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
     height: 60px;
}

.sidebar_menu .logo a {
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.logo i {
    color: gold;
    margin-right: 8px;
}


.sidebar_menu .btn_two i {
    color: grey;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 275px;
    opacity: 0;
    cursor: pointer;
     transition: all 0.3s linear;
}

.sidebar_menu .menu {
    color: white;
    position: absolute;
    width: 100%;
    top: 80px;
}

.sidebar_menu .menu li {
    margin-top: 6px;
    padding: 14px 20px;
}

.sidebar_menu .menu i,a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.sidebar_menu .menu i {
    padding-right: 8px;
}

.sidebar_menu .social_media {
    position: absolute;
    left: 25%;
    bottom: 50px;
}

.sidebar_menu .social_media i {
    color: white;
    opacity: 0.5;
    padding: 0 5px;
}

#check {
    display: none;
}

.sidebar_menu .menu li:hover {
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.btn_one i:hover {
    font-size: 40px;
}

.btn_two i:hover {
    font-size: 30px;
}

.sidebar_menu .social_media i:hover {
    opacity: 1;
    transform: scale(1.1);
}

#check:checked ~ .sidebar_menu {
    left: 0;
}

#check:checked ~ .btn_one i {
    opacity: 0;
}

#check:checked ~ .sidebar_menu .btn_two i {
    opacity: 1;
}
